
.card {
    margin-bottom: 20px;
  }

.content-wrapper{
    margin-top: 0px;
    margin-bottom: 20px;
}

.inforide {
box-shadow: 1px 2px 8px 0px #f1f1f1;
background-color: white;
border-radius: 8px;
height: 125px;
}

.rideone img {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ridetwo img {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ridethree img {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rideone {
background-color: #6CC785;
position: relative;

border-radius: 8px 0px 0px 8px;
text-align: center;
height: 125px;
margin-left: 15px;
}

.ridetwo {
background-color: #9A75FE;
position: relative;

padding-top: 35px;
border-radius: 8px 0px 0px 8px;
text-align: center;
height: 125px;
margin-left: 15px;
}

.ridethree {
background-color: #4EBCE5;
position: relative;
padding-top: 35px;
border-radius: 8px 0px 0px 8px;
text-align: center;
height: 125px;
margin-left: 15px;
}

.fontsty {
margin-right: -15px;
}

.fontsty h2{
color: #6E6E6E;
font-size: 35px;
margin-top: 15px;
text-align: right;
margin-right: 30px;
}

.fontsty h4{
color: #6E6E6E;
font-size: 25px;
margin-top: 20px;
text-align: right;
margin-right: 30px;
}

/* .content-wrapper {
min-height: calc(100vh - 56px);
padding-top: 4rem;
overflow-x: hidden;
background: transparent;
} */



@media (min-width: 992px) {}

@media screen and (max-device-width: 640px) {}