
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    // Dark mode color
    --background-color: #2b2b2b;
    --foreground-color: #1c1c1e;

    --icon-primary: #008aff;
    --links-color: #98989e;

    --transition: 250ms ease-in-out;
}

// Hover transition start
@mixin hoverTransition {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    overflow: hidden;
    position: relative;
    z-index: 1;
    --slantness: 4rem;
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: calc(
            (100% + var(--slantness))
            * -1);
        top: 0%;
        bottom: 0%;
        width: calc(100% + var(--slantness));
        clip-path: polygon(
            0% 0%,
            100% 0%,
            calc(100% - var(--slantness)) 100%,
            0% 100%
        );
        
        background: var(--icon-primary);
        opacity: 0;
        
        transition: all var(--transition);
    }
    
    &:hover {
        > i {
            color: var(--background-color);
        }
    
        &::after {
            left: 0%;
            opacity: 1;
        }
    }

} // End Hover transition


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    background: var(--foreground-color);
}

main {
    flex: 1 0 auto;

    header {
        background: var(--background-color);
        box-shadow: 3px 3px 8px 0px var(--background-color);
        // padding: 0px 2rem;

        .top-head {
            .logo {

                img {
                    height: 2.6em;
                }
            }
        }

        nav {
            margin: auto;

            ul {
                font-size: 1.2rem;
            }

            li {
                list-style: none;
            }

            a {
                text-decoration: none;
                font-size: 1.2rem;
                color: var(--links-color);

                @include hoverTransition()
            }

            i {
                // width: 1.5rem;
                color: var(--icon-primary);
                margin-right: .3em;
                transition: all var(--transition);
            }

            li.link {
                display: inline-block;
            }

            .link:hover .link-content {
                display: flex;
            }
            
            .link-content {
                display: none;
                flex-direction: column;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }

        }
    }

    section {
        padding: 20px 20px;

        .card-heading h3 {
            color: white;
        }

        .container {
            display: flex;
            overflow-x: auto;

            .card {
                background: white;
                margin: 10px;
                border-radius: 15px;
                box-shadow: 3px 3px 8px 0px var(--links-color);
                // margin-right: 10px;

                .card-image {
                    // height: 200px;
                    // margin-bottom: 15px;
                    background-size: cover;
                    border-radius: 15px 15px 0 0;
                    margin: 10px;
                }

                .card-1 {
                    background-size: 100% 100%;
                }
                .card-2 {
                    background-size: 100% 100%;
                }
                .card-3 {
                    background-size: 100% 100%;
                }
                .card-4 {
                    background-size: 100% 100%;
                }
                .card-5 {
                    background-size: 100% 100%;
                }

                h3 {
                    padding: 10px;
                    text-align: center;
                }

                p {
                    padding: 10px;
                }

                a {
                    background-color: black;
                    color: white;
                    padding: 15px 20px;

                    display: block;
                    text-align: center;
                    border-radius: 0px 0px 15px 15px;
                    text-decoration: none;
                }

            }
            
            .card:hover {
                background-color: rgb(62,62,62);
                color: white;
                cursor: pointer;
                transform: scale(1.03);
                // transition: all 1s ease;
                // transition: all var(--transition);
            }
        }
        .container::-webkit-scrollbar {
            width: 0;
        }
    }
}

footer {
    background: var(--background-color);
    box-shadow: 3px 3px 8px 3px var(--background-color);
    text-align: center;

    .app-footer {
        flex-shrink: 0;
        color: var(--icon-primary);
        padding: 0.5rem 0;

        ul {
            display: flex;
            align-items: center;
            padding-left: 0px;
            justify-content: space-around;
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        a {
            text-decoration: none;
            padding: 0.5rem;
            color: var(--links-color);
        }

        li {
            text-decoration: none;
            color: var(--links-color);

            @include hoverTransition()
        }

        i {
            color: var(--icon-primary);

            transition: all var(--transition);
        }
    }
}

// Smaller screen potrait/landscape
@media only screen 
and (max-device-width: 768px) {
    .top-head {
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        .icon {
            position: absolute;
            cursor: pointer;
            margin: 0rem 1rem;
            right: 0;
            color: inherit;
            font-size: 1.7rem;

            #close {
                display: none;
            }

            #menu {
                margin-top: 0.2rem;
                display: inline-block;
            }
        }

        i {
            color: var(--icon-primary);
        }
    }

    nav {
        display: none;

        .nav__menu {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin: 1rem;
            padding-bottom: 1rem;

            #icon-head {
                display: none;
            }
        }
    }

    section {
        .container {
            padding: 10px 0px;

            .row-2 {
                display: none;
            }

            .card-row1, .card-row2{
                display: flex;
            }

            .card {
                background: white;
                min-width: 230px;

                .card-image {
                    height: 170px;
                }
            }
        }
    }

    footer {
        .app-footer {
            padding: 0;
            i {
                font-size: 1.5rem;
            }
            a {
                font-size: 0.7rem;
            }
        }
    }

} // END

// tablet screen portrait
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

    .top-head {
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        .icon {
            position: absolute;
            cursor: pointer;
            margin: 0rem 1rem;
            right: 0;
            color: inherit;
            font-size: 1.7rem;

            #close {
                display: none;
            }

            #menu {
                margin-top: 0.2rem;
                display: inline-block;
            }
        }

        i {
            color: var(--icon-primary);
        }
    }

    nav {
        display: none;

        .nav__menu {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin: 1rem;
            padding-bottom: 1rem;

            #icon-head {
                display: none;
            }
        }
    }

    section {
        .row-1 {
            padding: 0 1rem;
        }
        .container {
            padding: 10px 0px;
            flex-direction: column;

            .row-2 {
                padding: 1rem;
            }

            .card-row1, .card-row2 {
                display: flex;
                overflow-x: auto;
            }

            .card {
                background: white;
                min-width: 230px;

                .card-image {
                    height: 150px;
                }
            }
        }
    }

    footer {
        .app-footer {
            padding: 0;
    
            i {
                font-size: 1.7rem;
            }
            a {
                font-size: 0.7rem;
            }
        }
    }

}

// tablet screen landscape
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

    main {
        display: flex;
        flex-direction: column;
        font-size: 1.7rem;
        font-weight: 300;
    
        header {

            .icon {
                display: none;
            }
        
            display: grid;
            gap: 0.5rem;
        
            grid-template-columns: 
            min-content
            auto
            max-content;
            grid-template-areas: 
            "logo nav";
            
            // * {
            //     align-self: center;
            // }
            
            .user {
                justify-self: end;
            }
            
            nav {
                .link-content {
                    position: absolute;
                    background-color: #2b2b2b;
                    min-width: 160px;
                }
                
                ul {
                    justify-content: center;
                    // font-size: 1.2rem;

                    grid-area: nav;
                    place-self: center;
                    display: grid;
                    grid-auto-flow: column;
                    grid-auto-columns: max-content;
                    gap: 0.5rem;
                }

                .nav__menu {
                    #icon-head {
                        display: none;
                    }
                }
            }
        
            padding: 0.5rem 1rem;
            width: 100%;

            .logo {
                grid-area: logo;
                place-self: center;
                margin-right: 1rem;
                padding: 0.25rem;
                font-size: 1.2rem;
            }
        } 

        section {
            .container {

                .row-2 {
                    display: none;
                }

                .card-row1, .card-row2 {
                    display: flex;
                    flex-direction: row;
                }

                .card {
                    min-width: 230px;

                    .card-image {
                        height: 150px;
                    }

                    h3 {
                        font-size: 1.5rem;
                        padding: 5px;
                    }
                    p {
                        font-size: 1.5rem;
                    }
                }
                .card:hover {
                    transform: scale(1.05);
                }

            }
        }

    } // END


    footer {
        .app-footer {
            font-size: .8rem;
            padding-top: 0px;

            i {
                font-size: 1.5rem;
            }
        }

    }

}

// Laptop/deskstop screen landscape
@media only screen 
and (min-width: 1224px) 
and (orientation: landscape){

    main {
        display: flex;
        flex-direction: column;
        font-size: 1.7rem;
        font-weight: 300;

        header {

            .icon {
                display: none;
            }
        
            display: grid;
            gap: 0.5rem;
            grid-template-columns: 
            min-content
            auto
            max-content;
            grid-template-areas: 
            "logo nav";
            
            // * {
            //     align-self: center;
            // }
            
            nav {

                .link-content {
                    position: absolute;
                    background-color: #2b2b2b;
                    min-width: 160px;
                }
                
                ul {
                    justify-content: center;
                    grid-area: nav;
                    place-self: center;
                    display: grid;
                    grid-auto-flow: column;
                    grid-auto-columns: max-content;
                    gap: 0.5rem;
                }
                a {
                    font-size: 1rem;
                }
            }
        
            padding: 0.5rem 1rem;
            width: 100%;

            .logo {
                grid-area: logo;
                place-self: center;
                margin-right: 1rem;
                padding: 0.25rem;
                font-size: 1.2rem;
            }
        } 
    }

    section {
        .card-heading{
            font-size: 1rem;
            padding: 0 2rem;

        }
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .row-2 {
                margin-right: auto;
                padding: .5rem 2rem;
                font-size: 1rem;
            }

            .card-row1, .card-row2 {
                display: flex;
            }

            .card {
                // min-width: 150px;
                width: 100%;
                // background-size: 50%;

                .card-image {
                    height: 150px;
                }

                h3 {
                    font-size: 1rem;
                    padding: 5px;
                }
                p {
                    font-size: 1rem;
                    padding: 5px;
                }
                a {
                    font-size: 1rem;
                    font-weight: bold;
                    // padding: 0px;
                }
            }
        }
    }

    footer {
        display: none;
    }
}